<div class="col col-xs-10 col-sm-10" ng-switch="currentListName">

    <div ng-switch-when="users">
        <loading-directive ng-hide="users"></loading-directive>
        <label class="col col-xs-offset-7" ng-show="users">Filter :
            <input ng-model="usersSearch.login">
        </label>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in users |filter:usersSearch">
                <b>User login:
                    <i>
                        <a ui-sref="main.user({id:user.id,repo:''})"> {{user.login}}</a>
                    </i>
                </b>
            </li>
        </ul>
    </div>

    <div ng-switch-when="repositories">
        <loading-directive ng-hide="repositories"></loading-directive>
        <div class="btn-group dropdown" ng-show="repositories" uib-dropdown="">
            <button id="button-template-url" type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle="" ng-disabled="disabled"
                aria-haspopup="true" aria-expanded="false">
                Sort
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href ng-click="sortBy('name')">by name</a>
                </li>
                <li>
                    <a  href ng-click="sortBy('forks')">by forks</a>
                </li>
                <li>
                    <a  href ng-click="sortBy('open_issues')">by open_issues</a>
                </li>
                <li>
                    <a  href ng-click="sortBy('size')">by size</a>
                </li>
            </ul>
        </div>
        <label class="col col-xs-offset-8" ng-show="repositories">Search for:
            <input ng-model="reposSearch.name">
        </label>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="repo in repositories | filter:reposSearch | orderBy:propertyName:reverse">
                <b>
                    <a ui-sref="main.repo({id:repo.id})">Repo: {{repo.name}}</a>
                </b>
                <i>forks: {{repo.forks}}, open issues: {{repo.open_issues}}, size: {{repo.size}}</i>
            </li>
        </ul>
    </div>

    <div ng-switch-when="issues">
        <loading-directive ng-hide="issues"></loading-directive>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="issue in issues">
                <h3>issue: {{issue.id}}</h3>
            </li>
        </ul>
    </div>

    <div ng-switch-when="code">
        <loading-directive ng-hide="code"></loading-directive>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="result in code">
                <h3>code: {{result.name}}</h3>
            </li>
        </ul>
    </div>

    <ul class="pagination-sm" ng-hide="listIsEmpty" uib-pagination boundary-link-numbers="true" items-per-page="itemsPerPage"
        ng-change="nextPage()" total-items="totalItems" max-size="maxSize" ng-model="currentPage"></ul>

    <h3 ng-show="listIsEmpty">No results</h3>
</div>